master/mcmpoc-client/MSILNodeRed.txt
[{"id":"c2112fd5.3deed","type":"debug","name":"","active":true,"console":"false","complete":"outputJSON","x":743,"y":283,"z":"32a2a92d.cd5d56","wires":[]},{"id":"eabbb340.15445","type":"function","name":"Locate message","func":"//convert BCD array to hex array\n//check for data delimited by 0x7e\n//inputMessage is byte array\nmsg.payload = [1, 45, 126, 02, 00, 0, 45, 1, 133, 153, 150, 0, 2, 0, 0, 0, 1, 0, 1, 90, 75, 90, 88, 0, 86, 84, 83, 105, 109, 117, 108, 97, 116, 111, 114, 0, 0, 0, 0, 0, 0, 0, 0, 0, 65, 95, 49, 0, 0, 0, 0, 1, 190, 169, 78, 48, 48, 48, 48, 49, 180, 126, 48, 49];\nvar hexArr = [];\nvar inputMessage = msg.payload;\n// var buf = new Buffer(inputMessage);\nvar gnssMessStart, gnssMessEnd;\nvar gnssMessExt = 0;\nfor (var i = 0; i < inputMessage.length; i++) {\n    var hexStr = inputMessage[i].toString(16);\n    for(j=hexStr.length;j<2;j++) {\n        hexStr = '0'+hexStr;\n    }\n    hexArr[i] = hexStr;\n    if(hexStr == '7e') {\n        if(gnssMessExt === 0) {\n            gnssMessStart = i;\n            gnssMessExt = 1;\n        } else if(gnssMessExt == 1) {\n            gnssMessEnd = i;\n            gnssMessExt = 0;\n        }\n    }\n    msg.payload = inputMessage.slice(gnssMessStart, gnssMessEnd+1);\n    msg.hexArr = hexArr.slice(gnssMessStart, gnssMessEnd+1);\n    // msg.hexArr = [\"7e\",\"02\",\"00\",\"00\",\"22\",\"01\",\"85\",\"99\",\"96\",\"00\",\"02\",\"00\",\"02\",\"00\",\"00\",\"00\",\"00\",\"00\",\"08\",\"00\",\"03\",\"02\",\"61\",\"c8\",\"28\",\"06\",\"f5\",\"8c\",\"e1\",\"00\",\"00\",\"01\",\"2c\",\"00\",\"14\",\"15\",\"05\",\"22\",\"11\",\"44\",\"51\",\"01\",\"04\",\"00\",\"00\",\"3a\",\"98\",\"15\",\"7e\"];\n}\nreturn msg;","outputs":1,"valid":true,"x":289,"y":69,"z":"32a2a92d.cd5d56","wires":[["1b840792.e47bf8"]]},{"id":"240794c4.dbf86c","type":"function","name":"Locate message id","func":"//remove leading and trailing 7e\nvar messArr = msg.decodedMessage.slice(1, msg.decodedMessage.length-1);\nvar messageId = messArr[0] + ''+messArr[1];\nmsg.messageId = messageId;\nreturn msg;","outputs":1,"valid":true,"x":759,"y":110,"z":"32a2a92d.cd5d56","wires":[["a596a981.5a6958","9acf42c9.6530c"]]},{"id":"a596a981.5a6958","type":"switch","name":"Choose parsing route","property":"messageId","rules":[{"t":"eq","v":"0200"}],"checkall":"true","outputs":1,"x":161,"y":291,"z":"32a2a92d.cd5d56","wires":[["345d69d4.cba296"]]},{"id":"345d69d4.cba296","type":"function","name":"Extract alarm data","func":"var messArr = msg.decodedMessage.slice(13, msg.decodedMessage.length-1);\nmsg.lir = messArr;\nvar outputJSON = {};\n// msg.lir = [255, 255, 255, 0];\nvar msgStruct = JSON.parse('{\"messageType\":\"location information report\", \"dict\": [{\"name\":\"alarm\", \"type\":\"DWORD\", \"bit\":\"0\"}]}')\noutputJSON['name'] = msgStruct['messageType'];\nvar alarmType=msgStruct['dict'][0], alarmBit;\nfor (i=0; i<msgStruct['dict'].length; i++) {\n    if(msgStruct['dict'][i]['name'] == 'alarm') {\n        alarmType = msgStruct['dict'][i]['type'];\n        alarmBit = msgStruct['dict'][i]['bit'];\n    }\n}\nvar size = 2;\nif(alarmType == 'DWORD') size = 4;\nif(alarmType == 'BYTE') size = 1;\nvar alarm = [];\nfor (i=alarmBit; i<alarmBit+size; i++){\n    var binRep = msg.lir[i].toString(2);\n    for(j=binRep.length; j < 8; j++){\n        binRep = '0'+binRep;\n    }\n    alarm[i] = binRep;\n}\nmsg.alarm = alarm;\nmsg.outputJSON = outputJSON;\nreturn msg;","outputs":1,"valid":true,"x":381,"y":281,"z":"32a2a92d.cd5d56","wires":[["47fff19.fb8001","f9207695.06df88"]]},{"id":"1b840792.e47bf8","type":"function","name":"Replace escapes with actuals","func":"var message = msg.hexArr;\nvar decodedMessage = [];\nfor (var i=0; i<message.length; i++) {\n    var dword = message[i];\n    if(dword == '7d'){\n        var dword2 = message[i+1];\n        if(dword2 == '1' || dword2 == '01') {\n            decodedMessage[decodedMessage.length] = '7e';\n            i=i+1\n        } else if (dword2 == '2' || dword2 == '02') {\n            decodedMessage[decodedMessage.length] = '7d';\n            i=i+1\n        }else {\n            decodedMessage[decodedMessage.length] = dword;\n        }\n    } \n    decodedMessage[decodedMessage.length] = dword;\n}\nmsg.decodedMessage = decodedMessage;\nreturn msg;","outputs":1,"valid":true,"x":475,"y":131,"z":"32a2a92d.cd5d56","wires":[["240794c4.dbf86c","cb85965e.347a68"]]},{"id":"f9207695.06df88","type":"debug","name":"verify alarm triggers","active":true,"console":"false","complete":"alarm","x":593,"y":215,"z":"32a2a92d.cd5d56","wires":[]},{"id":"d3517762.2cae88","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":279,"y":130,"z":"32a2a92d.cd5d56","wires":[["1b840792.e47bf8"]]},{"id":"37575a16.c8a8a6","type":"debug","name":"","active":true,"console":"false","complete":"true","x":114,"y":193,"z":"32a2a92d.cd5d56","wires":[]},{"id":"cb85965e.347a68","type":"debug","name":"","active":true,"console":"false","complete":"decodedMessage","x":557,"y":55,"z":"32a2a92d.cd5d56","wires":[]},{"id":"e05fbf5f.1fa04","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":102,"y":158,"z":"32a2a92d.cd5d56","wires":[["eabbb340.15445"]]},{"id":"9acf42c9.6530c","type":"debug","name":"","active":true,"console":"false","complete":"messageId","x":988,"y":92,"z":"32a2a92d.cd5d56","wires":[]},{"id":"47fff19.fb8001","type":"function","name":"Transform","func":"var alarm = '';\nvar alarmDict = JSON.parse('[{\"0\" : {\"name\":\"emergency\",\"value\":\"1\"}}, {\"1\" : {\"name\":\"speeding\",\"value\":\"0\"}}, {\"2\" : {\"name\":\"fatigue\",\"value\":\"0\"}},{\"3\" : {\"name\":\"danger\",\"value\":\"0\"}}, {\"4\" : {\"name\":\"modeerror\",\"value\":\"1\"}}, {\"5\" : {\"name\":\"antennadiscon\",\"value\":\"0\"}},{\"6\" : {\"name\":\"antinnashorted\",\"value\":\"0\"}}, {\"7\" : {\"name\":\"powervoltage\",\"value\":\"1\"}}, {\"8\" : {\"name\":\"powerfailure\",\"value\":\"0\"}},\t{\"9\" : {\"name\":\"lcderror\",\"value\":\"0\"}}, {\"10\" : {\"name\":\"ttserror\",\"value\":\"0\"}}, {\"11\" : {\"name\":\"cameraerror\",\"value\":\"0\"}}, \t{\"12\" : {\"name\":\"tccarderror\",\"value\":\"0\"}}, {\"13\" : {\"name\":\"speedpreventalarm\",\"value\":\"1\"}}, {\"14\" : {\"name\":\"drivingpreventalaram\",\"value\":\"1\"}}, \t{\"15\" : {\"name\":\"maintainalaram1\",\"value\":\"0\"}}, {\"16\" : {\"name\":\"maintainalaram2\",\"value\":\"0\"}}, {\"17\" : {\"name\":\"maintainalaram3\",\"value\":\"0\"}}, \t{\"18\" : {\"name\":\"otdrivingday\",\"value\":\"0\"}}, {\"19\" : {\"name\":\"otparking\",\"value\":\"1\"}}, {\"20\" : {\"name\":\"travelarea\",\"value\":\"0\"}}, \t{\"21\" : {\"name\":\"travelroute\",\"value\":\"0\"}}, {\"22\" : {\"name\":\"excessdriving\",\"value\":\"0\"}}, {\"23\" : {\"name\":\"routedeflecting\",\"value\":\"0\"}}, \t{\"24\" : {\"name\":\"vsserror\",\"value\":\"0\"}}, {\"25\" : {\"name\":\"abnormalfuel\",\"value\":\"0\"}}, {\"26\" : {\"name\":\"vehiclestolen\",\"value\":\"0\"}}, \t{\"27\" : {\"name\":\"illegalignition\",\"value\":\"0\"}}, {\"28\" : {\"name\":\"illegaldisplacement\",\"value\":\"0\"}}, {\"29\" : {\"name\":\"collisionprevent\",\"value\":\"0\"}}, {\"30\" : {\"name\":\"cartwheelprevented\",\"value\":\"0\"}}, {\"31\" : {\"name\":\"illegalopeningdoor\",\"value\":\"0\"}}]');\nvar alarmJSON = {};\nfor (i = 0; i < msg.alarm.length; i++) {\n    alarm += msg.alarm[i];\n}\nfor (i = 0; i < (alarm.length); i++) {\n    if(alarm[i] == '1') {\n    var key = i+'';\n    var JSONEntryKey = alarmDict[i][key].name;\n    var JSONEntryValue = alarm[i];\n    alarmJSON[JSONEntryKey] = JSONEntryValue;\n    }\n}\n// msg.alarmJSON = alarmJSON;\nmsg.outputJSON['alarm'] = alarmJSON;\n// msg.alarmJSON = JSON.stringify(alarmJSON);\nreturn msg;","outputs":1,"valid":true,"x":577,"y":283,"z":"32a2a92d.cd5d56","wires":[["c2112fd5.3deed"]]}]