master/mcmpoc-client/NodeRedFlow.txt
[{"id":"587a669f.a78598","type":"ibmiot","name":"LocalMQTTFx"},{"id":"4ac40aee.b53bf4","type":"cloudant","hostname":"dd013758-67cb-4fc6-809f-d5285c1619b6-bluemix.cloudant.com","name":"Kaberi's instance"},{"id":"b64ff9a4.49b008","type":"twilio-api","sid":"AC73db60f251a48a6dd968b72f7c143d78","from":"+14155992671","name":"Jeetesh test device"},{"id":"5c176482.a3e89c","type":"function","name":"prepare message","func":"msg.payload={ \"d\": { \"CAR_ID\": \"12300\", \"SITE_ID\": \"BEDFORD\", \"FLOOR_NUMBER\": 0, \"CASE_ID\": 1, \"RUN_DATE_TIME\": \"06/22/2015 06:55:24 PM\", \"RUN_TIME\": 5, \"BREAKDOWN_IND\": 0, \"FLOOR_ALIGNMENT_VARIANCE\": 0.700335559, \"VIBRATION_LATERAL\": 15, \"VIBRATION_VERTICAL\": 22, \"SOUND_PRESSURE_LEVEL\": 53, \"OIL_LEAKAGE\": 1, \"SAFETY_GEAR_FUNCTIONING\": 1, \"TEMPERATURE_IN_CONTROL_ROOM\": 27, \"siteid\": \"BEDFORD\", \"assetnum\": \"12300\", \"description\": \"data from device\" } };\nreturn msg;","outputs":1,"valid":true,"x":279,"y":49,"z":"55846709.aa7b98","wires":[["ae0082ac.51ff8"]]},{"id":"ae0082ac.51ff8","type":"function","name":"Preprocessing","func":"msg.payload=msg.payload.d;\nreturn msg","outputs":1,"valid":true,"x":264.5,"y":158,"z":"55846709.aa7b98","wires":[["f932daa1.06cd28","1e7bed01.e18413"]]},{"id":"5dad02b7.a252fc","type":"debug","name":"notification message","active":true,"complete":"payload","x":1186.5,"y":512,"z":"55846709.aa7b98","wires":[]},{"id":"80621eff.7f9de","type":"template","name":"safe","field":"","template":"Elevator functioning within safe limits. \nTemperature ({{payload.TEMPERATURE_IN_CONTROL_ROOM}})\nFloor alignment ({{payload.FLOOR_ALIGNMENT_VARIANCE}})\nVibration lateral ({{payload.VIBRATION_LATERAL}})","x":519.5,"y":22,"z":"55846709.aa7b98","wires":[["a5d01564.5a2fe8"]]},{"id":"8e1706a.f71e8f8","type":"template","name":"danger","field":"","template":"Work order {{workorderid}} created for malfunction in elevator car.\nTemperature ({{payload.TEMPERATURE_IN_CONTROL_ROOM}})\nFloor alignment ({{payload.FLOOR_ALIGNMENT_VARIANCE}})\nVibration lateral ({{payload.VIBRATION_LATERAL}})","x":1011.5,"y":506,"z":"55846709.aa7b98","wires":[["5dad02b7.a252fc","24a867ee.db5798"]]},{"id":"24a867ee.db5798","type":"twilio out","service":"_ext_","twilio":"b64ff9a4.49b008","from":"","number":"+918888834764","name":"Send SMS notification","x":1199,"y":421,"z":"55846709.aa7b98","wires":[]},{"id":"f932daa1.06cd28","type":"cloudant out","service":"_ext_","cloudant":"4ac40aee.b53bf4","name":"Sensor data for POC","database":"mcmpoc","payonly":true,"operation":"insert","x":498,"y":305,"z":"55846709.aa7b98","wires":[]},{"id":"30d3f640.cf2c0a","type":"ibmiot in","authentication":"apiKey","apiKey":"587a669f.a78598","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":77.5,"y":153,"z":"55846709.aa7b98","wires":[["ae0082ac.51ff8","52e5174a.ad1ae8","da2f7dc7.25d08"]]},{"id":"6c1ba232.93e45c","type":"function","name":"Prepare message for maximo","func":"msg.headers={\n    \"content-type\":\"application/json\"\n};\nmsg.payload.siteid = msg.payload.SITE_ID;\nmsg.payload.assetnum = msg.payload.CAR_ID;\nmsg.payload.description=\"data from device\";\nreturn msg;","outputs":"1","valid":true,"x":980,"y":102,"z":"55846709.aa7b98","wires":[["9768698.f689798","bb45a23c.44ba6"]]},{"id":"3e98f974.c16706","type":"function","name":"Prepare message for maximo","func":"var temploc = msg.headers.location.substr(msg.headers.location.indexOf('maximo'));\nmsg.url=\"http://cap-sg-prd-5.integration.ibmcloud.com:15209/\"+temploc+\"?_lid=wilson&_lpwd=wilson&lean=1\";\nmsg.headers={\"properties\":\"*\"}\nmsg.method=\"GET\";\nreturn msg;","outputs":1,"valid":true,"x":1044,"y":203,"z":"55846709.aa7b98","wires":[["764517b1.89bae8"]]},{"id":"764517b1.89bae8","type":"http request","name":"retrieve work order details from maximo","method":"use","ret":"txt","url":"","x":1183,"y":256,"z":"55846709.aa7b98","wires":[["c0ded451.3f2128"]]},{"id":"c0ded451.3f2128","type":"function","name":"extract wo num","func":"var tempwoid = msg.payload.substring(msg.payload.indexOf(\"wonum\")+8, msg.payload.indexOf(\"wonum\")+12);\n// node.log(tempwonum);\nmsg.payload={};\nmsg.payload.workorderid=tempwoid;\nreturn msg;","outputs":1,"valid":true,"x":920,"y":317,"z":"55846709.aa7b98","wires":[["6de69218.92196c","5badc972.a45238"]]},{"id":"52e5174a.ad1ae8","type":"function","name":"generate id for storage","func":"//msg.payload._id=\"dd_\"+msg.payload.CAR_ID + \"_\" + msg.payload.RUN_DATE_TIME;\nreturn msg;","outputs":1,"valid":true,"x":267,"y":279,"z":"55846709.aa7b98","wires":[["f932daa1.06cd28"]]},{"id":"6de69218.92196c","type":"function","name":"generate id for storage","func":"msg.payload._id=\"wd_\"+msg.payload.deviceid + \"_\" + msg.payload.ts;\nreturn msg;","outputs":1,"valid":true,"x":573,"y":411,"z":"55846709.aa7b98","wires":[[]]},{"id":"694eff0a.96b1","type":"debug","name":"maximo output","active":true,"console":"false","complete":"true","x":1308,"y":39,"z":"55846709.aa7b98","wires":[]},{"id":"98985547.6767a8","type":"function","name":"aggregate","func":"msg.workorderid = msg.payload.workorderid;\nmsg.payload = msg.pp;\nreturn msg;","outputs":1,"valid":true,"x":837,"y":503,"z":"55846709.aa7b98","wires":[["8e1706a.f71e8f8"]]},{"id":"15875e82.ea78a1","type":"inject","name":"real data sim","topic":"iot-2/type/jeetlocmqttfx/evt/status/fmt/json","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":98,"y":44,"z":"55846709.aa7b98","wires":[["5c176482.a3e89c"]]},{"id":"5badc972.a45238","type":"function","name":"Set wo created flag","func":"context.global.notified=true\nreturn msg;","outputs":1,"valid":true,"x":928,"y":401,"z":"55846709.aa7b98","wires":[["98985547.6767a8"]]},{"id":"c3af0d11.3c50f","type":"function","name":"prevent duplicate","func":"msg.payload.notified = context.global.notified;\nif(context.global.notified == true) {\n    return;\n} else return msg;","outputs":"1","valid":true,"x":760,"y":193,"z":"55846709.aa7b98","wires":[["a5d01564.5a2fe8","6c1ba232.93e45c"]]},{"id":"da2f7dc7.25d08","type":"debug","name":"","active":true,"console":"false","complete":"false","x":111,"y":346,"z":"55846709.aa7b98","wires":[]},{"id":"aec38cc9.513c7","type":"function","name":"reset notified flag","func":"context.global.notified = false;\nreturn msg;","outputs":"1","valid":true,"x":535,"y":82,"z":"55846709.aa7b98","wires":[["80621eff.7f9de"]]},{"id":"a5d01564.5a2fe8","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":681,"y":23,"z":"55846709.aa7b98","wires":[]},{"id":"9768698.f689798","type":"debug","name":"Threshold surpassed","active":true,"console":"false","complete":"true","x":962,"y":31,"z":"55846709.aa7b98","wires":[]},{"id":"6a90e489.956f1c","type":"function","name":"Set notified","func":"context.global.notified = true;\nreturn msg;","outputs":"1","valid":true,"x":1146,"y":164,"z":"55846709.aa7b98","wires":[["3e98f974.c16706"]]},{"id":"1e7bed01.e18413","type":"function","name":"Threshold based router","func":"if(msg.payload.TEMPERATURE_IN_CONTROL_ROOM > 26 \n     && msg.payload.FLOOR_ALIGNMENT_VARIANCE > 0.65\n     && msg.payload.VIBRATION_LATERAL > 14){\n    return [null, msg];\n} else return [msg, null];","outputs":"2","valid":true,"x":512,"y":185,"z":"55846709.aa7b98","wires":[["aec38cc9.513c7"],["b8ceb380.47315"]]},{"id":"b8ceb380.47315","type":"function","name":"Cache input message","func":"msg.pp = msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":565,"y":254,"z":"55846709.aa7b98","wires":[["c3af0d11.3c50f"]]},{"id":"bb45a23c.44ba6","type":"http request","name":"create work order","method":"POST","ret":"txt","url":"http://cap-sg-prd-5.integration.ibmcloud.com:15209/maximo/oslc/os/mxwodetail?_lid=wilson&_lpwd=wilson&lean=1","x":1255,"y":100,"z":"55846709.aa7b98","wires":[["6a90e489.956f1c","694eff0a.96b1"]]}]