master/mcmpoc-client/NodeRedFlow.txt
[{"id":"587a669f.a78598","type":"ibmiot","name":"LocalMQTTFx"},{"id":"b64ff9a4.49b008","type":"twilio-api","sid":"AC73db60f251a48a6dd968b72f7c143d78","from":"+14155992671","name":"Jeetesh test device"},{"id":"c0ded451.3f2128","type":"function","name":"extract wo id","func":"var tempwoid = msg.payload.substring(msg.payload.indexOf(\"wonum\")+8, msg.payload.indexOf(\"wonum\")+13);\n// node.log(tempwonum);\nmsg.payload={};\nmsg.payload.workorderid=tempwoid;\nreturn msg;","outputs":1,"valid":true,"x":918,"y":255,"z":"55846709.aa7b98","wires":[["6de69218.92196c","98985547.6767a8"]]},{"id":"ae0082ac.51ff8","type":"function","name":"temp","func":"var tempts = msg.payload.ts;\nmsg.payload=msg.payload.d;\nmsg.payload.ts=tempts;\nreturn msg","outputs":1,"valid":true,"x":423.5,"y":154,"z":"55846709.aa7b98","wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","name":"temp thresh","property":"payload.temp","rules":[{"t":"lte","v":"26"},{"t":"gt","v":"26"}],"checkall":"true","outputs":2,"x":547.5,"y":107,"z":"55846709.aa7b98","wires":[["80621eff.7f9de"],["6c1ba232.93e45c"]]},{"id":"5dad02b7.a252fc","type":"debug","name":"cpu status","active":true,"complete":"payload","x":1049.5,"y":32,"z":"55846709.aa7b98","wires":[]},{"id":"80621eff.7f9de","type":"template","name":"safe","field":"","template":"Temperature ({{payload.temp}}) within safe limits","x":902.5,"y":20,"z":"55846709.aa7b98","wires":[[]]},{"id":"8e1706a.f71e8f8","type":"template","name":"danger","field":"","template":"Work order {{workorderid}} for temperature at critical level of ({{payload.temp}})","x":853.5,"y":73,"z":"55846709.aa7b98","wires":[["5dad02b7.a252fc"]]},{"id":"24a867ee.db5798","type":"twilio out","service":"_ext_","twilio":"b64ff9a4.49b008","from":"","number":"+918888834764","name":"Send SMS notification","x":910,"y":391,"z":"55846709.aa7b98","wires":[]},{"id":"f932daa1.06cd28","type":"cloudant out","service":"jeetesh-iot-cloudantNoSQLDB","cloudant":"","name":"Sensor data for POC","database":"iotpoc_devicedata","payonly":true,"operation":"insert","x":358,"y":320,"z":"55846709.aa7b98","wires":[]},{"id":"30d3f640.cf2c0a","type":"ibmiot in","authentication":"apiKey","apiKey":"587a669f.a78598","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":77.5,"y":197,"z":"55846709.aa7b98","wires":[["ae0082ac.51ff8","52e5174a.ad1ae8"]]},{"id":"6c1ba232.93e45c","type":"function","name":"inject headers","func":"msg.headers={\n    \"content-type\":\"application/json\"\n}\nmsg.pp = msg.payload;\nmsg.payload.description=\"data from device\"\nreturn msg;","outputs":"1","valid":true,"x":898,"y":114,"z":"55846709.aa7b98","wires":[["37bef86.fc84108"]]},{"id":"37bef86.fc84108","type":"http request","name":"maximo invocation","method":"POST","ret":"txt","url":"http://cap-sg-prd-5.integration.ibmcloud.com:15186/maximo/oslc/os/mxwodetail?_lid=wilson&_lpwd=wilson&lean=1","x":1129,"y":111,"z":"55846709.aa7b98","wires":[["3e98f974.c16706","694eff0a.96b1"]]},{"id":"3e98f974.c16706","type":"function","name":"Get work order number","func":"var temploc = msg.headers.location.substr(msg.headers.location.indexOf('maximo'));\nmsg.url=\"http://cap-sg-prd-5.integration.ibmcloud.com:15186/\"+temploc+\"?_lid=wilson&_lpwd=wilson&lean=1\";\nmsg.headers={\"properties\":\"*\"}\nmsg.method=\"GET\";\nreturn msg;","outputs":1,"valid":true,"x":957,"y":179,"z":"55846709.aa7b98","wires":[["764517b1.89bae8"]]},{"id":"764517b1.89bae8","type":"http request","name":"maximo wo creation invocation","method":"use","ret":"txt","url":"","x":1088,"y":213,"z":"55846709.aa7b98","wires":[["c0ded451.3f2128"]]},{"id":"52e5174a.ad1ae8","type":"function","name":"generate id for storage","func":"msg.payload._id=\"dd_\"+msg.payload.d.deviceid + \"_\" + msg.payload.ts;\nreturn msg;","outputs":1,"valid":true,"x":228,"y":220,"z":"55846709.aa7b98","wires":[["f932daa1.06cd28"]]},{"id":"6de69218.92196c","type":"function","name":"generate id for storage","func":"msg.payload._id=\"wd_\"+msg.payload.deviceid + \"_\" + msg.payload.ts;\nreturn msg;","outputs":1,"valid":true,"x":667,"y":313,"z":"55846709.aa7b98","wires":[[]]},{"id":"694eff0a.96b1","type":"debug","name":"maximo output","active":true,"console":"false","complete":"true","x":1308,"y":39,"z":"55846709.aa7b98","wires":[]},{"id":"98985547.6767a8","type":"function","name":"aggregate","func":"msg.workorderid = msg.payload.workorderid;\nmsg.payload = msg.pp;\nreturn msg;","outputs":1,"valid":true,"x":662,"y":148,"z":"55846709.aa7b98","wires":[["8e1706a.f71e8f8"]]},{"id":"15875e82.ea78a1","type":"inject","name":"real data sim","topic":"iot-2/type/jeetlocmqttfx/evt/status/fmt/json","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":82,"y":103,"z":"55846709.aa7b98","wires":[["5c176482.a3e89c"]]},{"id":"5c176482.a3e89c","type":"function","name":"prepare message","func":"msg.payload={\"ts\":\"2015-06-16T03:00:04-04:00\", \"d\":{\"floor_num\":3,     \"alignment\":0.400335559,     \"vibration_lateral\":15,     \"vibration_vertical\":22,     \"sound_pressure_level\":53,     \"oil_leakage\":1,     \"safety_gear_functioning\":1,     \"temp\":27, \"siteid\":\"BEDFORD\", \"assetnum\":\"12300\"  }};\nreturn msg;","outputs":1,"valid":true,"x":263,"y":102,"z":"55846709.aa7b98","wires":[["ae0082ac.51ff8"]]}]