master/mcmpoc-client/NodeRedFlow.txt
[{"id":"4fe53353.b01acc","type":"mqtt-broker","broker":"gtwunk.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:gtwunk:mcmpoc"},{"id":"587a669f.a78598","type":"ibmiot","name":"LocalMQTTFx"},{"id":"b64ff9a4.49b008","type":"twilio-api","sid":"AC73db60f251a48a6dd968b72f7c143d78","from":"+14155992671","name":"Jeetesh test device"},{"id":"3e77d543.c1882a","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"9efc46da768f","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"quickstart.internetofthings.ibmcloud.com/iotsensor/","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":251,"y":291,"z":"55846709.aa7b98","wires":[["ae0082ac.51ff8","c0c482df.3f3b8","1b4e8613.e4b17a"]]},{"id":"ae0082ac.51ff8","type":"function","name":"temp","func":"node.log(msg.payload.d.temp);\nreturn {payload:msg.payload.d.temp};","outputs":1,"valid":true,"x":596.5,"y":372,"z":"55846709.aa7b98","wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":"40"},{"t":"gt","v":"40"}],"checkall":"true","outputs":2,"x":591.5,"y":290,"z":"55846709.aa7b98","wires":[["80621eff.7f9de"],["8e1706a.f71e8f8","8f4be9a4.70b418","ce008ef4.31ff7"]]},{"id":"5dad02b7.a252fc","type":"debug","name":"cpu status","active":false,"complete":"payload","x":899.5,"y":283,"z":"55846709.aa7b98","wires":[]},{"id":"c0c482df.3f3b8","type":"debug","name":"device data","active":false,"console":"false","complete":"true","x":534.5,"y":236,"z":"55846709.aa7b98","wires":[]},{"id":"80621eff.7f9de","type":"template","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":727.5,"y":241,"z":"55846709.aa7b98","wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","name":"danger","field":"","template":"Temperature ({{payload}}) critical","x":733.5,"y":321,"z":"55846709.aa7b98","wires":[["5dad02b7.a252fc","24a867ee.db5798"]]},{"id":"ce008ef4.31ff7","type":"http request","name":"Invoking workload scheduler","method":"POST","ret":"txt","url":"","x":950,"y":417,"z":"55846709.aa7b98","wires":[[]]},{"id":"8f4be9a4.70b418","type":"cloudant in","service":"jeetesh-iot-cloudantNoSQLDB","cloudant":"","name":"historical data from cloudant","database":"iotpoc","search":"_idx_","design":"_design/temp","index":"temp","x":948,"y":473,"z":"55846709.aa7b98","wires":[["8bc9f3f7.74361"]]},{"id":"4ce664e7.b3199c","type":"http request","name":"Invoke predictive analytics model","method":"POST","ret":"txt","url":"https://ibmpmsrvus2.pmservice.ibmcloud.com:8443/pm/v1/score/drug1N?accesskey=Y3q58Tl8+0d53WA4zIvn1+tjZ+19QqM6yJaQDFw9RnV0NW3ssLJCrrDTf0HOjnVHc3AAYodJr50Fnery9zfLktUAzW8qSqhTKDGG3+onuGzWYvtdYwc2uNVLeoebmDZa7QeXtQI6tbNGGqvrRtowcCQhDrMxyMKm26djSMT+DnY=&headers=content-type:application/json","x":968,"y":530,"z":"55846709.aa7b98","wires":[["a52a9f43.5ad56","71646c67.8e9b94"]]},{"id":"24a867ee.db5798","type":"twilio out","service":"_ext_","twilio":"b64ff9a4.49b008","from":"","number":"+918888834764","name":"Send SMS notification","x":933,"y":364,"z":"55846709.aa7b98","wires":[]},{"id":"8bc9f3f7.74361","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":1189,"y":470,"z":"55846709.aa7b98","wires":[]},{"id":"f932daa1.06cd28","type":"cloudant out","service":"jeetesh-iot-cloudantNoSQLDB","cloudant":"","name":"Sensor data for POC","database":"iotpoc","payonly":true,"operation":"insert","x":541,"y":471,"z":"55846709.aa7b98","wires":[]},{"id":"1b4e8613.e4b17a","type":"function","name":"Transform for predictive analytics model","func":"var newmsg = { \"Age\":\"35\",\"Sex\":\"M\", \"BP\":\"NORMAL\", \"Cholesterol\":\"NORMAL\", \"Na\":\"0.697\", \"K\":\"0.056\" };\nmsg.payload = newmsg;\nmsg.format = \"json\";\nmsg.headers={\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"valid":true,"x":525,"y":548,"z":"55846709.aa7b98","wires":[["4ce664e7.b3199c","eccf6d8b.13309"]]},{"id":"eccf6d8b.13309","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1003,"y":568,"z":"55846709.aa7b98","wires":[]},{"id":"a52a9f43.5ad56","type":"debug","name":"Predictive analytics output","active":false,"console":"false","complete":"true","x":1273,"y":528,"z":"55846709.aa7b98","wires":[]},{"id":"7f063692.80f9c8","type":"http in","name":"","url":"/postWithHeaders","method":"post","x":336,"y":633,"z":"55846709.aa7b98","wires":[["7a6d5e10.8592a"]]},{"id":"4c2fa1b2.b3d06","type":"http response","name":"","x":638,"y":623,"z":"55846709.aa7b98","wires":[]},{"id":"b92490ca.46db7","type":"debug","name":"","active":true,"console":"false","complete":"headers","x":660,"y":585,"z":"55846709.aa7b98","wires":[]},{"id":"7a6d5e10.8592a","type":"function","name":"","func":"msg.headers= { \"HOST\":\"jeetesh-iot.mybluemix.net:80\",\n \"Content-length\":\"18\",\n \"Content-type\":\"application/x-http-form-urlencoded\", \"customHeader\":\"Plwork\"};\nreturn msg;","outputs":1,"valid":true,"x":497,"y":587,"z":"55846709.aa7b98","wires":[["b92490ca.46db7","4c2fa1b2.b3d06"]]},{"id":"9bc5e63d.643a18","type":"inject","name":"TestNodeRedFlow","topic":"iot-2/evt/status/format/json","payload":"temp:35","payloadType":"string","repeat":"5","crontab":"","once":false,"x":217,"y":361,"z":"55846709.aa7b98","wires":[[]]},{"id":"ae9a4aa.f5165b8","type":"mqtt out","name":"","topic":"","qos":"","retain":"","x":1341,"y":654,"z":"55846709.aa7b98","wires":[]},{"id":"71646c67.8e9b94","type":"function","name":"Device domain","func":"\nreturn msg;","outputs":1,"valid":true,"x":1150,"y":609,"z":"55846709.aa7b98","wires":[["ae9a4aa.f5165b8"]]},{"id":"3402c222.cbfd3e","type":"debug","name":"device data","active":true,"console":"false","complete":"true","x":287,"y":476,"z":"55846709.aa7b98","wires":[]},{"id":"40efd18.fbf103","type":"function","name":"temp","func":"msg.payload=\"temp:30\";\nreturn msg;","outputs":1,"valid":true,"x":531,"y":418,"z":"55846709.aa7b98","wires":[["8f4be9a4.70b418"]]},{"id":"30d3f640.cf2c0a","type":"ibmiot in","authentication":"apiKey","apiKey":"587a669f.a78598","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":174,"y":153,"z":"55846709.aa7b98","wires":[["9b34d386.64cb3","a7cac538.583538"]]},{"id":"9b34d386.64cb3","type":"debug","name":"device data","active":true,"console":"false","complete":"true","x":370,"y":152,"z":"55846709.aa7b98","wires":[]},{"id":"af5bd9.ff50a428","type":"mqtt out","name":"Command to device","topic":"iot-2/type/LocalMQTTFx/id/jeetlocmqttfx/cmd/blink/fmt/json","qos":"0","retain":"","broker":"4fe53353.b01acc","x":612,"y":145,"z":"55846709.aa7b98","wires":[]},{"id":"f296f0db.0d691","type":"ibmiot out","authentication":"apiKey","apiKey":"587a669f.a78598","outputType":"cmd","deviceId":"jeetnodered","deviceType":"NodeRED","eventCommandType":"blink","format":"json","data":"","name":"IBM IoT App Out","service":"registered","x":341,"y":250,"z":"55846709.aa7b98","wires":[]},{"id":"a7cac538.583538","type":"function","name":"data to command","func":"return msg;","outputs":1,"valid":true,"x":159,"y":202,"z":"55846709.aa7b98","wires":[["f296f0db.0d691","645b98ea.9ba468","af5bd9.ff50a428"]]},{"id":"645b98ea.9ba468","type":"debug","name":"function output data","active":true,"console":"false","complete":"true","x":434,"y":198,"z":"55846709.aa7b98","wires":[]},{"id":"7eec9b9c.811364","type":"inject","name":"TestNodeRedFlow","topic":"iot-2/cmd/blink/format/json","payload":"{\"temp\":\"35\"}","payloadType":"string","repeat":"5","crontab":"","once":false,"x":255,"y":72,"z":"55846709.aa7b98","wires":[[]]},{"id":"1e51905e.e1ae7","type":"http in","name":"","url":"","method":"get","x":97,"y":65,"z":"55846709.aa7b98","wires":[[]]}]